.DS_Store
target
*.iml
.idea
!.idea/runConfigurations
.settings
.project
.classpath
out
bin
.gradle
*.log
*.log*
nbactions.xml
nb-configuration.xml
.cache
/lsp/
.envrc
.jekyll-cache
.mvn/.develocity
.mvn/.gradle-enterprise/
.quarkus

CLAUDE.local.md
